.page-404-hero
    text-align: center

.text-block-wrapper-404
    display: flex
    flex-direction: column
    padding-top: 40px

.block-title-404
    font-style: normal
    font-weight: normal
    font-size: 124px
    line-height: 124px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #00642C

.block-description-404
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724
    width: 235px

.btn-wrapper-404
    margin-top: 44px
