.about
    padding-bottom: 80px

.about-info-block
    position: relative
    padding-left: 32px
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 4px

.about-block-title
    padding-top: 70px
    padding-right: 69px
    padding-bottom: 16px
    font-style: normal
    font-weight: bold
    font-size: 22px
    line-height: 32px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #322724

.about-description
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    color: #322724
    padding-right: 120px
    padding-bottom: 56px

.about-btn-wrapper
    padding-bottom: 42px

.about-logo-wrapper
    text-align: center
    padding-top: 40px

.about-all-heroes-wrapper
    margin-left: -135px
    margin-top: 33px

.number-block
    margin-bottom: 56px
    display: flex
    flex-direction: column

.number-wrapper
    background: url(../img/about/craft_paper_1.jpg)
    width: 56px
    height: 58.46px
    border-radius: 100px
    display: flex
    align-items: center
    justify-content: center
    background-position: center center

.inside-number-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 50.11px
    height: 50.11px
    border: 1px solid #00642C
    border-radius: 100px
    font-size: 32px
    line-height: 32px
    color: #00642C

.number-text
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724
    margin-top: 16px

.eg-wrapper
    text-align: center

.about-questions-wrapper
    position: relative
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 4px
    padding: 32px 52px 32px 52px
    background: #ffffff
    
.about-questions-text
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    color: #322724
