.basket-form-input
    background-image: url(../img/icons/coupon.svg)

.basket-coupon-button
    height: 46px
    width: 100%
    
.coupon-button-wrapper
    margin-bottom: 32px

.coupon-header, .order-info-title
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    padding-bottom: 12px    
    border-bottom: 1px solid #dcdcdc

.basket-input-wrapper
    margin-top: 16px
    margin-bottom: 16px

.order-info-title
    margin-bottom: 18px

.order-info-text-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 20px

.calculate-before-discount
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 12px
    letter-spacing: 0.04em
    color: #322724

.calculate-before-discount-price 
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724

.calculate-wrapper
    padding-bottom: 16px
    border-bottom: 1px solid #dcdcdc

.calculate-text
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    letter-spacing: 0.04em
    color: #322724

.calculate-price
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724

.order-button-wrapper button
    width: 100%

.order-basket-text-wrapper
    margin-top: 16px
    font-style: normal
    font-weight: normal
    font-size: 10px
    line-height: 16px
    text-align: center
    color: #322724

.product-basket-wrapper
    position: relative
    width: 100%
    display: flex
    flex-direction: row
    background: #f9f9f9
    border-radius: 4px
    margin-bottom: 16px

.product-basket-info
    padding-left: 16px

.product-basket-title
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.04em
    color: #322724
    padding-top: 16px
    padding-bottom: 16px

.product-basket-description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724

.product-basket-price
    padding-top: 20px
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 24px
    color: #322724

.cross-wrapper
    cursor: pointer
    position: absolute
    left: 96%
    padding-top: 5px

.remove
    font-size: 40px
    color: #322724
    font-weight: 300

.calculate-before-discount-price .woocommerce-Price-currencySymbol, .calculate-wrapper .woocommerce-Price-currencySymbol
    margin-left: 0

.order_details .woocommerce-Price-currencySymbol, .woocommerce-checkout-review-order-table .woocommerce-Price-currencySymbol
    margin-left: 0

.wc-proceed-to-checkout a
    display: block

.woocommerce-message 
    text-align: center
    margin-bottom: 30px
    background-color: transparent !important

.woocommerce-form-coupon-toggle
    display: none

.order_details .order, .order_details .date, .order_details .total 
    margin-bottom: 10px

.woocommerce [type=submit] 
    margin-top: 20px

.place-order .woocommerce-privacy-policy-text
    display: none

.woocommerce-checkout-payment
    display: flex
    justify-content: center

.place-order
    text-align: center
    width: 610px
    max-height: 220px
    background: #F9F9F9
    border-radius: 4px
    margin-top: 56px
    padding-bottom: 40px

.iq-gradus-validate-required
    padding-right: 16px
    padding-left: 16px
    padding-top: 42px
    padding-bottom: 16px

.robokassa-logo-wrapper
    display: flex
    align-items: center
    justify-content: center
    padding-bottom: 42px

.robokassa-text
    font-weight: bold
    font-size: 12px
    line-height: 12px
    letter-spacing: 0.04em
    color: #322724
    margin-right: 20px

.woocommerce-billing-fields__field-wrapper label 
    display: none

.woocommerce-billing-fields h3, #order_review_heading 
    text-align: left
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724
    padding-bottom: 32px

#order_review_heading 
    padding-top: 74px

.woocommerce-billing-fields__field-wrapper 
    display: flex
    align-items: center
    justify-content: space-between

.form-row-email input, .form-row-name input 
    border: 1px solid #DCDCDC
    background-image: url(../img/icons/mail.svg)
    background-repeat: no-repeat
    background-position: 5% 50%
    box-sizing: border-box
    border-radius: 4px
    height: 56px
    width: 298px
    padding-left: 40px

.form-row-name input
    background-image: url(../img/icons/user-icon.svg) 

.product-name-checkout
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 12px
    letter-spacing: 0.04em
    color: #322724
    margin-bottom: 13px
    display: block

.woocommerce-checkout-review-order-table .cart_item, .woocommerce-checkout-review-order-table .cart-subtotal, 
.woocommerce-checkout-review-order-table .cart-discount, .woocommerce-checkout-review-order-table .order-total
    width: 320px
    display: flex
    margin-bottom: 10px
    justify-content: space-between

.woocommerce-checkout
    padding-left: 32px
    padding-right: 32px

.woocommerce-checkout .woocommerce-input-wrapper, .woocommerce-checkout .input-text 
    width: 100%

.woocommerce-checkout .form-row-email, .woocommerce-checkout .form-row-name
    width: 48%

.woocommerce-checkout .form-row-email input, .woocommerce-checkout .form-row-name input
    background-position: 3% 50%

.basket-content .woocommerce-info
    background-color: #ffffff
    text-align: center

.product-basket-image img 
    width: 150px
    height: 150px

.woocommerce-checkout-review-order-table .cart-subtotal 
    display: none

.woocommerce-checkout-review-order-table .product-total .woocommerce-Price-amount
    font-weight: bold

.woocommerce-error 
    padding-top: 15px
    padding-bottom: 15px
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 20px
    background-color: #F9F9F9 !important
    border-radius: 4px
    line-height: 20px
    letter-spacing: 0.04em
    text-align: center

.checkout-form-login
    width: 100%

.checkout-login-form-message
    letter-spacing: 0.04em
    line-height: 20px

.checkout-form-header
    margin-top: 10px

.woocommerce-checkout-review-order-table .cart_item
    border-bottom: 1px solid #dcdcdc
    padding-bottom: 15px

.woocommerce-checkout-review-order-table .order-total
    font-weight: bold
    font-size: 16px

.woocommerce-checkout-review-order-table .order-total .woocommerce-Price-currencySymbol
    font-weight: bold






    


