.solid-button, .product-card-buy-block-wrapper .add_to_cart_button, .wc-backward, .woocommerce [type=submit] 
    text-decoration: none
    background: #00642C
    border-radius: 4px
    border: 1px solid transparent
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #ffffff
    padding: 12px 24px
    transition: 0.8s
    &:hover
        background: #FFFFFF
        border: 1px solid #00642C
        box-sizing: border-box
        color: #00642C
        transition: 0.8s

.callback-btn
    padding: 4px 8px

.outline-button, .modal-button-reload
    padding: 10px 16px

.basket-coupon-button
    outline: none
    border: none
    text-decoration: none
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    color: #00642C
    background: #FFFFFF
    border: 1px solid #00642C
    box-sizing: border-box
    border-radius: 4px
    transition: 0.8s
    &:hover
        background: #00642C
        border: 1px solid transparent
        color: #ffffff
        transition: 0.8s

.outline-button, .callback-btn, .cool-product-card .add_to_cart_button, .product-card .add_to_cart_button, .added_to_cart,
.modal-button-reload, .tinvwl_button_view, .tinvwl_button_close
    outline: none
    border: none
    text-decoration: none
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 16px
    color: #322724
    background: #FFFFFF
    border: 1px solid #00642C
    box-sizing: border-box
    border-radius: 4px
    transition: 0.8s
    &:hover
        background: #00642C
        border: 1px solid transparent
        color: #ffffff
        transition: 0.8s

.modal-button-reload
    border: 1px solid #DCDCDC

.cool-product-card .add_to_cart_button, .product-card .add_to_cart_button, .tinvwl_button_view, .tinvwl_button_close
    padding: 10px 16px 10px 16px

.added_to_cart
    padding: 10px 5px 10px 5px


a.link-hover
    text-decoration: none
    background-image: linear-gradient(90deg, rgba(0,100,44,1) 0%, rgba(0,100,44,1) 35%, rgba(0,100,44,1) 100%)
    background-position: 0% 100%
    background-repeat: no-repeat
    background-size: 0% 1px
    transition: background-size .3s
    &:hover
        background-size: 100% 1px

.link-hover
    text-decoration: none
    background-image: linear-gradient(90deg, rgba(0,100,44,1) 0%, rgba(0,100,44,1) 35%, rgba(0,100,44,1) 100%)
    background-position: 0% 100%
    background-repeat: no-repeat
    background-size: 0% 1px
    transition: background-size .3s
    &:hover
        background-size: 100% 1px

.nav_tabs_column_section_item a, .menu-link a
    text-decoration: none
    background-image: linear-gradient(90deg, rgba(0,100,44,1) 0%, rgba(0,100,44,1) 35%, rgba(0,100,44,1) 100%)
    background-position: 0% 100%
    background-repeat: no-repeat
    background-size: 0% 1px
    transition: background-size .3s
    &:hover
        background-size: 100% 1px 

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt
    width: 38px
    height: 38px

.product-card-section .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt
    width: 46px
    height: 46px

.add-to-favourite
    outline: none
    border: none
    border-radius: 100px
    background: transparent 
    border: 1px solid #00642C
    margin-left: 16px
    width: 38px
    height: 38px
    transition: 0.8s
    &:hover
        background: #00642c94
        border: 1px solid transparent
        transition: 0.8s
        color: #ffffff

.product-link, .restore-item, .woocommerce-terms-and-conditions-link
    transition: 0.5s
    &:hover
        transition: 0.5s
        color: #00642C

.basket
    position: relative

.basket li 
    list-style: none

.cart-contents
  &:before
    content: ''
    background: url(../img/header/basket.svg)
    display: flex
    justify-content: center
    position: relative
    width: 16px
    height: 14px
  &:hover
    text-decoration: none

.cart-contents-count
  position: absolute
  top: 11%
  margin-left: 9px
  background-color: #00642C
  border-radius: 10px
  font-style: normal
  font-weight: normal
  font-size: 10px
  line-height: 10px
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  letter-spacing: 0.04em
  color: #FFFFFF
  width: 14px
  height: 14px

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list:before 
    content: '\e909'

.added 
    display: none

.cart-empty
    margin-bottom: 30px
    text-align: center

.return-to-shop
    text-align: center







    




