.product-card-account-info
    display: flex
    flex-direction: row
    padding-left: 16px
    border-top: 1px solid #dcdcdc
    border-bottom: 1px solid #dcdcdc

.product-card-days
    display: flex
    justify-content: center
    flex-direction: column
    font-style: normal
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.04em
    color: #322724
    width: 79%
    min-height: 60px
    padding-top: 8px
    padding-bottom: 8px

.number-of-days
    color: #00642C
    font-weight: bold

.product-card-days-unlim
    text-align: center
    color: #00642C
    font-weight: bold
    font-size: 44px

.product-card-button-wrapper
    padding: 16px 16px 16px 16px
    & button
        width: 100%

.product-card-account-wrapper
    height: auto

.product-card-question-icon
    position: relative
    display: flex
    flex-direction: column
    width: 20%
    border-left: 1px solid #dcdcdc
    align-items: center
    justify-content: center
    cursor: pointer

.product-card-question-icon-bg 
    background: url(../img/icons/Question.svg)
    background-size: cover
    background-repeat: no-repeat
    width: 24px
    height: 24px
    display: block

.product-card-account
    margin-bottom: 32px


/* Tooltip text */
.product-card-question-icon .tooltiptext 
  visibility: hidden
  width: 182px
  background-color: #f2f2f2
  color: #322724
  text-align: left
  padding: 8px 8px 8px 8px
  border-radius: 4px
  font-style: normal
  font-weight: normal
  font-size: 10px
  line-height: 16px
  letter-spacing: 0.04em
  /* Position the tooltip text */
  position: absolute
  z-index: 1
  bottom: 125%
  left: 10%
  margin-left: -130px
  /* Fade in tooltip */
  opacity: 0
  transition: opacity 0.3s
/* Tooltip arrow */
.product-card-question-icon .tooltiptext::after 
  content: ""
  position: absolute
  top: 100%
  left: 80%
  margin-left: -5px
  border-width: 15px
  border-style: solid
  border-color: #f2f2f2 transparent transparent transparent
/* Show the tooltip text when you mouse over the tooltip container */
.product-card-question-icon:hover .tooltiptext 
  visibility: visible
  opacity: 1

.account-form-input
    background-image: url(../img/icons/user-icon.svg)

.account-input-wrapper
    margin-bottom: 16px

.account-button-wrapper
    margin-top: 40px

.woocommerce-MyAccount-navigation 
    ul 
        display: flex
        flex-direction: column

.woocommerce-MyAccount-navigation-link 
    background: #F9F9F9
    opacity: 0.8
    box-sizing: border-box
    border: 1px solid #DCDCDC
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    letter-spacing: 0.04em
    color: #322724
    text-align: left
    padding-left: 16px
    padding-top: 19px
    padding-bottom: 19px
    transition: 0.5s
    width: 100%
    &:hover
        border: 1px solid #00642C
        background: #ffffff
        transition: 0.5s

.woocommerce-MyAccount-navigation-link.is-active
    border: 1px solid #00642C
    background: #ffffff

.woocommerce-MyAccount-navigation-link a 
    display: block
    width: 100%
    height: 100%

.woocommerce-MyAccount-navigation-link--orders, .woocommerce-MyAccount-navigation-link--downloads
    border-radius: 4px 4px 0px 0px

.woocommerce-MyAccount-navigation-link--edit-account
    border-radius: 0px 0px 4px 4px

.digital-download-btn
    display: block
    text-align: center

.show-password-icon
    position: relative

.password-control 
	position: absolute
	top: 11px
	right: 6px
	display: inline-block
	width: 20px
	height: 14px
	background: url(../img/icons/eye.svg) 0 0 no-repeat

.password-control.view 
	background: url(../img/icons/eye-open.svg) 0 0 no-repeat

.tinv-wishlist .product-thumbnail
    min-width: inherit
    width: inherit

.product-card-account .product-thumbnail img
    width: 210px
    height: 210px

.tinvwl-table-manage-list .product-card-info 
    height: auto
    padding-bottom: 20px

.tinv-wishlist .product-action .button
    width: inherit

.product-remove i 
    display: none

.tinv-wishlist .product-remove button 
    display: block
    align-content: center
    margin: inherit
    width: inherit
    height: inherit
    border-radius: 50%
    padding: inherit
    box-shadow: none
    border: 0
    background-color: #00642C
    margin-left: -5px

.tinv-wishlist .tinvwl-table-manage-list .product-remove
    width: 36px
    height: 36px
    padding: inherit

.account-fav-like
    margin-left: -15px

.add-to-favourite-account-btn:hover
    background: #00642c94 !important

.woocommerce-MyAccount-content
    line-height: 20px
    letter-spacing: 0.04em

.tinv-wishlist .cart-empty
    margin-top: 20px

.woocommerce-MyAccount-content .woocommerce-info-downloads 
    background-color: #ffffff
    text-align: center

@media only screen and (max-width: 1024px)
    .tinv-wishlist .tinvwl-table-manage-list .product-remove 
        display: block

    .tinv-wishlist .product-action 
        width: inherit

@media only screen and (max-width: 1024px) and (min-width: 641px)
    .tinv-wishlist .product-action .button .tinvwl-txt
        display: inherit

    .tinv-wishlist .product-thumbnail 
        max-width: inherit
        width: inherit

@media only screen and (max-width: 640px)
    .tinv-wishlist .product-thumbnail img
        max-width: inherit











