.pagination-block
    margin-top: 56px

.pagination-wrapper
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.page-item-prev
    display: flex
    align-items: center
    margin-right: 40px
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    &:before
        content: ''
        background: url(../img/slider/arrow-left.svg)
        width: 8px
        height: 14px
        display: inline-block
        margin-right: 16px
        cursor: pointer

.page-item-next
    display: flex
    align-items: center
    margin-left: 16px
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724

    &:after
        content: ''
        background: url(../img/slider/arrow-right.svg)
        width: 8px
        height: 14px
        display: inline-block
        margin-left: 16px
        cursor: pointer

.page-item
    margin-right: 24px
    border: 1px solid #dcdcdc
    box-sizing: border-box
    border-radius: 4px
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center

.page-item-active
    border: 1px solid #00642C

.page-link-number
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 16px
    text-align: center
    letter-spacing: 0.04em
    color: #322724

.category-description-title, .filter-title
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    padding-bottom: 12px
    border-bottom: 1px solid #dcdcdc

.category-description
    margin-top: 24px
    margin-bottom: 42px
    background: #F9F9F9
    border-radius: 4px
    padding-left: 9px
    padding-right: 9px
    & h3 
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 20px
        letter-spacing: 0.04em
        color: #322724
        padding-top: 4px

    & p 
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
        letter-spacing: 0.04em
        color: #322724
        padding-bottom: 4px

.shop-product-card
    margin-bottom: 42px

.iq_gradus_filter_check
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 24px

.iq_gradus_filter_check a
    font-weight: normal
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724

.filter-check-box
    cursor: pointer
    position: absolute
    left: 85%
    width: 1px
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    transition: 0.5s

.filter-check-box-fake
    cursor: pointer
    position: absolute
    box-sizing: border-box
    left: 85%
    width: 24px
    height: 24px
    overflow: hidden
    border: 1px solid #DCDCDC
    border-radius: 4px
    background-color: white
    background-repeat: no-repeat
    background-position: 50% 50%
    transition: 0.5s

.filter-check-box:checked + .filter-check-box-fake
    background-color: #ffffff
    background-image: url(../img/icons/checbox-active.svg)
    transition: 0.5s

.date-radio-filter
    cursor: pointer
    position: absolute
    left: 85%
    width: 1px
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    transition: 0.5s

.date-radio-filter-fake
    cursor: pointer
    position: absolute
    box-sizing: border-box
    left: 85%
    width: 24px
    height: 24px
    overflow: hidden
    border: 1px solid #DCDCDC
    border-radius: 40px
    background-color: white
    background-repeat: no-repeat
    background-position: 54.5% 50%
    transition: 0.5s

.date-radio-filter:checked + .date-radio-filter-fake
    background-color: #ffffff
    background-image: url(../img/icons/radio-active.svg)
    transition: 0.5s

.label-for-checbox, .label-for-radio
    cursor: pointer
    display: flex
    justify-content: space-between
    width: 100%
    align-items: center

.categories-title-wrapper
    border-bottom: 1px solid #DCDCDC

.categories__title
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    padding-bottom: 12px

.filter-on-themes-wrapper
    margin-top: 24px
    margin-bottom: 20px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724

.cat-name-count
    display: inline-block
    margin-left: 8px
    width: 20px
    height: 20px
    background: #f9f9f9
    padding: 5px 5px 5px 5px
    border-radius: 100%
    text-align: center
    font-style: normal
    font-weight: normal
    font-size: 10px
    line-height: 10px
    color: #322724

.categories__title:after, .filter-modal-toggle-icon:after
    content: ''
    display: inline-block
    background: url(../img/icons/filter.svg)
    width: 18px
    height: 12px
    float: right

.date-filter-title:after
    background: url(../img/icons/date-icon.svg)
    width: 18px
    height: 18px

.date-filter-modal-toggle
    display: none
    justify-content: space-between
    align-items: center

.date-filter-modal-toggle-icon:after
    content: ''
    display: inline-block
    background: url(../img/icons/date-icon.svg)
    width: 18px
    height: 18px
    float: right

.date-filter-modal-toggle
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    padding-bottom: 12px

.side-nav
    border-bottom: 1px solid #ddccdd

.date-filter-title
    padding-top: 36px
    
input[type=radio]
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 40px

.woocommerce-pagination, .pagination-custom
    display: flex
    justify-content: center

.woocommerce-pagination ul 
    width: 100%
    border: none

.page-numbers
    display: flex
    justify-content: space-around
    width: 32px
    height: 32px
    align-items: center
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 4px

.pagination-custom .nav-links
    display: flex
    width: 100%
    justify-content: space-around

.pagination-custom .prev, .pagination-custom .next, .woocommerce-pagination .next
    position: relative
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    width: auto
    height: auto
    border: none

.current
    border: 1px solid #00642C

.woocommerce-pagination .next:after, .pagination-custom .next:after
    content: ''
    display: inline-block
    background: url(../img/slider/arrow-right.svg)
    width: 8px
    height: 15px
    margin-left: 15px

.shop-product-card .product-price
    padding-left: 8px

.pagination-custom .prev:before 
    content: ''
    display: inline-block
    background: url(../img/slider/arrow-left.svg)
    width: 8px
    height: 15px
    margin-right: 15px







    



