.faq-body
    background: #F9F9F9
    border-radius: 0px 0px 4px 4px
    padding: 16px 16px 16px 16px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724

.faq-btn-wrapper
    border-bottom: 1px solid #dcdcdc
    padding-bottom: 16px

.faq-btn
    position: relative
    background-color: transparent
    padding-left: 16px
    padding-top: 16px
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    letter-spacing: 0.04em
    color: #322724
    width: 100%
    text-align: start
    &:after
        content: ''
        display: inline-block
        background: url(../img/icons/up.svg)
        height: 8px
        width: 14.67px
        float: right

.faq-btn.collapsed:after
    content: ''
    display: inline-block
    background: url(../img/icons/down.svg)
    height: 8px
    width: 14.67px
    float: right

