@font-face
  font-family: 'Bandera Pro'
  src: url('..fonts/BanderaProHeavy.eot')
  src: local("Bandera Pro Heavy"), local("BanderaProHeavy"), url('../fonts/BanderaProHeavy.eot?#iefix') format("embedded-opentype"), url('../fonts/BanderaProHeavy.woff2') format("woff2"), url('..fonts/BanderaProHeavy.woff') format("woff"), url('..fonts/BanderaProHeavy.ttf') format("truetype")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Bandera Pro'
  src: url('fonts/BanderaPro.eot')
  src: local("Bandera Pro Regular"), local("BanderaPro"), url('../fonts/BanderaPro.eot?#iefix') format("embedded-opentype"), url('../fonts/BanderaPro.woff2') format("woff2"), url('../fonts/BanderaPro.woff') format("woff"), url('fonts/BanderaPro.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Bandera Pro'
  src: url('fonts/BanderaPro-Bold.eot')
  src: local("Bandera Pro Bold"), local("BanderaPro-Bold"), url('../fonts/BanderaPro-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/BanderaPro-Bold.woff2') format("woff2"), url('../fonts/BanderaPro-Bold.woff') format("woff"), url('../fonts/BanderaPro-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Bandera Pro'
  src: url('fonts/BanderaProLight.eot')
  src: local("Bandera Pro Light"), local("BanderaProLight"), url('../fonts/BanderaProLight.eot?#iefix') format("embedded-opentype"), url('../fonts/BanderaProLight.woff2') format("woff2"), url('../fonts/BanderaProLight.woff') format("woff"), url('../fonts/BanderaProLight.ttf') format("truetype")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Bandera Pro'
  src: url('fonts/BanderaProThin.eot')
  src: local("Bandera Pro Thin"), local("BanderaProThin"), url('../fonts/BanderaProThin.eot?#iefix') format("embedded-opentype"), url('../fonts/BanderaProThin.woff2') format("woff2"), url('../fonts/BanderaProThin.woff') format("woff"), url('../fonts/BanderaProThin.ttf') format("truetype")
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Bandera Pro'
  src: url('fonts/BanderaProMedium.eot')
  src: local("Bandera Pro Medium"), local("BanderaProMedium"), url('../fonts/BanderaProMedium.eot?#iefix') format("embedded-opentype"), url('../fonts/BanderaProMedium.woff2') format("woff2"), url('../fonts/BanderaProMedium.woff') format("woff"), url('../fonts/BanderaProMedium.ttf') format("truetype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Handicraft'
  src: url('fonts/Handicraft Regular.eot')
  src: local("Handicraft"), local("Handicraft"), url('../fonts/Handicraft Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Handicraft Regular.woff2') format("woff2"), url('../fonts/Handicraft.woff') format("woff"), url('fonts/Handicraft.ttf') format("truetype")
  font-weight: normal
  font-style: normal

body 
    font-family: 'Bandera Pro'

  