.nav_tabs
  margin: 0 auto

.nav_tabs:after
  content: ''
  display: table
  clear: both

.nav_tabs_column
  float: left
  z-index: 1

.nav_tabs_input
  display: none

.nav_tavs_column_section
  width: 100%
  float: left
  position: relative

.nav_tabs_column_section ~ .nav_tabs_column_section
  padding-top: 20px

.nav_tabs_label_h
  font-weight: bold
  font-size: 14px
  line-height: 22px
  z-index: 2
  position: relative
  letter-spacing: 0.04em
  margin-bottom: 25px

.nav_tabs_column_section_list
  margin-right: 20px
  list-style: none
  padding: 0

.nav_tabs_column_section_item
  display: block
  pointer-events: auto
  line-height: 16px
  margin-bottom: 16px

.nav_tabs a
  text-decoration: none
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 16px

.nav_tabs_input:checked + .nav_tabs_column_section
  .nav_tabs_label_h
    font-weight: 600
    color: #333

    &:after
      transform: rotate(180deg) scale(1.08)

  .nav_tabs_column_section_list
    position: static
    visibility: visible
    z-index: 1
    -webkit-transform: none
    transform: none
    -webkit-transition: -webkit-transform 700ms ease
    transition: transform 700ms ease

.nav_tabs_column_section_label
  width: 100%

.grey-footer-wrapper
    background: #f9f9f9
    height: 403px
    padding-top: 100px
    margin-top: -100px

.footer-widget-title
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 22px
    margin-bottom: 25px

.footer-phone, .footer-location, .footer-mail
    margin-bottom: 16px

.footer-phone a, .footer-adress, .footer-email a 
    font-size: 12px

.footer-icon
    width: 12px
    height: 12px

.footer-adress, .footer-email a, .footer-phone a
    margin-left: 10px

.footer-btn-wraper
    margin-top: 26px

.user-agree-link
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.04em
  color: #322724

.bottom-footer-info
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  margin-top: 40px
  padding-bottom: 20px
  border-bottom: 1px solid #dcdcdc

.footer-social-icons-wrapper
  display: flex
  align-items: center

.footer-social-icons-text, .we-accept-text, .copyright, .developers
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.04em
  color: #322724

.footer-social-icons-wrapper .social-icon-wrapper
  background: #ffffff

.white-footer
  padding-top: 12px
  padding-bottom: 12px

.we-accept
  display: flex
  align-items: center

.we-accept-text
  margin-right: 11px

.payment-icon
  margin-right: 6px

.developers
  text-align: right

.copyright
  text-align: center

@media (max-width: 990px)
  .nav_tabs a
      font-size: 16px
      line-height: 16px

  .nav_tabs_column
    width: 100%

  .nav_tabs_column_section
    border-bottom: 1px solid #e3e3e3
    overflow: hidden
    pointer-events: auto

  .nav_tabs_label_h
    cursor: pointer
    position: relative
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    z-index: 2
    font-weight: bold
    font-size: 20px
    line-height: 26px
    margin-bottom: 17px
    margin-top: 17px

    &:after
      content: ''
      display: block
      background-repeat: no-repeat
      background: url(../img/icons/down.svg)
      width: 15px
      height: 8px
      float: right
      font-weight: normal
      margin-right: 8px
      -webkit-transition: -webkit-transform .5s ease
      transition: transform .5s ease

  .nav_tabs_column_section_list
    margin: 0
    overflow: hidden
    padding-bottom: 16px
    position: absolute
    top: 100%
    left: 0
    width: 100%
    visibility: hidden
    z-index: -1
    -webkit-transform: translateY(-100px)
    transform: translateY(-100px)
    padding-left: 20px

  .nav_tabs_column_section_item
    line-height: 30px

  .footer-widget-title-wrapper
     border-bottom: 1px solid #e3e3e3

  .footer-widget-title
     font-weight: bold
     font-size: 20px
     line-height: 26px
     overflow: hidden
     margin-bottom: 17px
     margin-top: 17px

  .footer-phone
    margin-top: 32px

  .footer-logo-wrapper
    text-align: center
    & img 
        width: 162px
        height: 112.91px

  .grey-footer-wrapper
    height: auto

  .payment-icon-hide
    display: none

@media (max-width: 780px)
  .we-accept
    justify-content:  center

  .white-footer
    padding-top: 36px
    padding-bottom: 64px

  .we-accept, .copyright
    margin-bottom: 20px

  .developers
    text-align: center

  .bottom-footer-info
    margin-top: 20px

  .footer-social-icons-wrapper
    order: 1
    margin-bottom: 10px

  .user-agree
    order: 2


