.page-title
    margin-top: 50px
    margin-bottom: 56px
    &-bg
        background-image: url(../img/main/page-head.jpg)
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        height: 80px
        display: flex
        align-items: center
        border-radius: 4px

    &-header
        font-style: normal
        font-weight: bold
        font-size: 22px
        line-height: 32px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #322724
        padding-left: 32px
        
.tab
    display: flex
    flex-direction: column

.tab button
    background: #F9F9F9
    opacity: 0.8
    box-sizing: border-box
    border: 1px solid #DCDCDC
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    letter-spacing: 0.04em
    color: #322724
    text-align: left
    padding-left: 16px
    padding-top: 19px
    padding-bottom: 19px
    transition: 0.5s

    &:first-child
        border-radius: 4px 4px 0px 0px

    &:last-child
        border-radius: 0px 0px 4px 4px

.tab button.active
    border: 1px solid #00642C
    background: #ffffff
    transition: 0.5s

.all-heroes-wrapper
    margin-bottom: 42px

.all-heroes-img
    width: 100%

.tabs-info-block
    display: flex
    flex-direction: row
    margin-bottom: 52px

.icon-wrapper
    margin-left: 10px
    margin-right: 34px
    width: 80px
    height: 80px

.info-block-text
    padding-right: 123px
    display: flex
    align-items: center

    p 
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.04em
        color: #322724

.game-play
    border-top: 1px solid #00642C
    border-bottom: 1px solid #00642C
    padding-top: 16px
    padding-bottom: 16px

    p 
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.04em
        color: #322724

.gameplay-block
    display: flex
    align-items: center
    margin-top: 57px

.gameplay-img-wrapper-right
    margin-right: 61px

.gameplay-img-wrapper-left
    margin-left: 61px

.gameplay-title, .gameplay-p
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724
    margin-bottom: 16px

.gameplay-p
    font-style: normal
    font-weight: normal
    margin-bottom: 0

.gameplay-block-mb
    margin-bottom: 90px

.gameplay-button-wrapper
    margin-top: 32px

.game-rules-block-wrapper
    margin-bottom: 70px

.game-rules-header-wrapper
    display: flex
    align-items: center 
    margin-top: 28px
    height: 56px
    background: url(../img/game-instructions/tour-1.png)
    background-repeat: no-repeat
    background-size: auto
    border-bottom: 1px solid
    padding-bottom: 26px

.next-tour
    background: url(../img/game-instructions/tour-2.png)
    background-repeat: no-repeat
    background-size: auto

.final-tour
    background: url(../img/game-instructions/tour-3.png)
    background-repeat: no-repeat
    background-size: auto

.game-rules-header
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 32px
    letter-spacing: 0.04em
    color: #00642C
    padding-top: 10px

.game-rules-text-block
    display: flex
    justify-content: space-between
    margin-top: 32px

.game-rules-text-block-one, .game-rules-text-block-two 
    width: 320px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724

.tablinks
    height: 52px



    


