.tqb-question-text
  text-align: left !important
  font-family: 'Bandera Pro' !important
  color: #322724

.tqb-answer-open-type
  display: none

.tqb-answers-container
  margin-top: -50px !important

.tqb-template-style-4 .tqb-open-type-button svg
  fill: #00642C !important

.tcb-button-link, .tcb-button-text
	cursor: pointer !important
