.top-bar
    display: flex
    align-items: center
    justify-content: space-between 
    flex-direction: row
    height: 40px
    padding-top: 10px
    padding-bottom: 10px
    &-phone, &-mail, &-user-info, &-customer-support 
        font-style: normal
        font-weight: normal
        font-size: 8px
        line-height: 12px
        letter-spacing: 0.03em
        text-decoration: none
        color: #322724

    &-phone
        margin-right: 4px

    &-customer-support
        margin-right: 10px
.adress
    position: relative
    box-sizing: border-box
    font-style: normal
    font-weight: normal
    font-size: 8px
    line-height: 12px
    color: #322724
    margin-left: 9px
    padding-top: 6px

.email
    position: relative
    display: block
    &:before, &:after
        content: '•'
        position: relative
        font-weight: bold
        top: 3px
        width: 4px
        height: 4px
        color: #dcdcdc

.menu-link-dots
    &:before, &:after
        content: '•'
        position: relative
        font-weight: bold
        display: inline-block
        width: 4px
        height: 4px
        font-size: 16px
        top: 2px
        color: #dcdcdc

.menu-link-dots
    &:before
        margin-right: 16px

    &:after
        margin-left: 16px

.user-info
    position: relative
    display: block
    &:after
        content: '•'
        position: relative
        font-weight: bold
        display: inline-block
        top: 3px
        width: 4px
        height: 4px
        color: #dcdcdc

.customer-support
    position: relative
    display: block
    margin-left: 8px
    &:after
        content: ''
        position: absolute
        background: url(../img/main/rectangle-2.svg)
        width: 1px
        height: 20px

.contacts-block, .info-block, .social-icons
    display: flex

.social-icon-wrapper
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    width: 24px
    height: 24px
    background: #F9F9F9
    border-radius: 100%

.insta
    margin-right: 16px
    margin-left: 16px

.call-back-btn-wrapper
    margin-left: 16px

#main
    height: 120px

.header-nav-panel
    background: #F9F9F9

.header-nav-wrapper 
    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: space-between

.menu-links-wrapper, #main-menu
    display: flex

.menu-link
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 12px
    color: #322724
    margin-right: 16px
    margin-left: 16px

.woocommerce-block-wrapper
    display: flex
    align-items: center

.basket, .favourite, .iq-gradus-login
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    background: #ffffff
    border-radius: 100%

.iq-gradus-login
    cursor: pointer

.user-login-btn-wrapper
    position: relative
    transition: 0.8s ease-out

.iq-gradus-login
    position: relative

.iq-gradus-user-log-in
    width: 109px
    border-radius: 100px

.iq-gradus-user-login-icon
    position: absolute
    width: 40px
    height: 40px
    background: #F9F9F9
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 100px
    left: 1px
    background-image: url(../img/header/user.svg)
    background-repeat: no-repeat
    background-position: 50% 50%

.iq-gradus-user-login-icon-not-active
    position: absolute
    width: 40px
    height: 40px
    background: #ffffff
    box-sizing: border-box
    border-radius: 100px
    left: 1px
    background-image: url(../img/header/user.svg)
    background-repeat: no-repeat
    background-position: 50% 50%

.iq-gradus-user-login-arrow
    position: absolute
    width: 8px
    height: 4px
    background-image: url(../img/icons/down-small.svg)
    background-repeat: no-repeat
    background-position: 50%
    left: 85%
    transition: transform .5s ease

.menu-akkaunt-container-active .iq-gradus-user-login-arrow
    transform: rotate(180deg) scale(1.08)
    transition: transform .5s ease

#header-welcome
    position: relative
    font-style: normal
    font-weight: normal
    font-size: 8px
    line-height: 8px
    letter-spacing: 0.04em
    color: #000000
    padding-left: 25px
    display: inline-block
    overflow: hidden

.menu-akkaunt-container
    width: 152px
    position: absolute
    display: none
    background: #F9F9F9
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 4px
    right: 0
    top: 50px
    z-index: 100
    transition: transform .5s ease

.menu-akkaunt-container-active
    display: block
    transition: transform .5s ease

.login-menu-link-wrapper
    padding-top: 10px
    padding-left: 10px
    padding-bottom: 10px

.login-menu-link-wrapper-exit
    border-top: 1px solid #dcdcdc

.login-menu-link
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 12px
    letter-spacing: 0.04em
    color: #322724
    transition: 0.8s ease-out
    &:hover
        transition: 0.8s ease-out
        color: #00642C

.login-menu-link-user, .login-menu-link-exit
    &:before
        content: ''
        display: inline-block
        background: url(../img/icons/user-small.svg)
        width: 10px
        height: 10px
        margin-right: 10px

.login-menu-link-exit
    &:before
        background: url(../img/icons/exit.svg)

.basket, .favourite
    margin-right: 20px

.mobile-menu-wrapper
    position: relative
    display: flex
    align-items: center
    width: 99px
    height: 40px
    background: #FFFFFF
    border-radius: 4px
    margin-left: 16px

.mobile-menu-btn
    margin-left: 8px
    cursor: pointer

.menu-words
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 12px
    letter-spacing: 0.04em
    color: #000000 
    padding-left: 16px

.short-burger-line
    display: block
    width: 14px
    height: 2px
    background: #00642C
    border-radius: 100px
    margin-bottom: 4px

.mobile-menu-btn span
    display: block
    position: absolute
    width: 20px
    height: 2px
    margin-left: -1.5px
    background: #00642C
    border-radius: 100px
    margin-bottom: 4px
    transition: all 0.3s ease 0s
    &::before
      content: ''
      display: block
      position: absolute
      width: 14px
      height: 2px
      background: #00642C
      border-radius: 100px
      top: 0
      left: 0
      margin-top: -5px
      transition: all 0.3s ease 0s
    &::after
      content: ''
      display: block
      position: absolute
      width: 20px
      height: 2px
      background: #00642C
      border-radius: 100px
      margin-top: 5px
      transition: all 0.3s ease 0s

.mobile-menu.mobile-menu-active 
    left: 0
    transition: all 0.5s ease 0s

.mobile-menu-active span
    background: transparent
    &::before
        width: 20px
        transform: rotate(45deg)
        margin-top: 0
        
    &::after
        transform: rotate(-45deg)
        margin-top: 0

.mobile-menu
    background: #F9F9F9
    position: absolute
    left: -100%
    width: 100%
    height: 100vh
    padding-top: 32px
    padding-bottom: 30px
    border-top: 1px solid #dcdcdc
    z-index: 50
    transition: all 0.5s ease 0s
    overflow: auto
    margin-top: -35px

.mobile-menu-container
    border-bottom: 1px solid #dcdcdc

form.wpcf7-form 
      position: relative
      transition: 0.5s
    
.wpcf7 form.sent .wpcf7-response-output
      position: absolute
      width: 100%
      height: 100%
      display: flex !important
      justify-content: center
      align-items: center
      top: 0
      left: 0
      bottom: 0
      right: 0
      background-color: white
      transition: 0.5s
      margin: 0
      padding: 0
      border: none 
      border-color: #ffffff
      font-size: 16px
      line-height: 24px
      color: #322724





    


