.all-heroes
    position: relative 
    img 
        width: 100%
        height: 100%
        position: relative

.play-btn-link
    font-size: 16px

.play-btn-wrapper
    position: absolute
    z-index: 2
    padding-top: 33px
    padding-left: 33px
    display: flex
    align-items: center
    cursor: pointer
    &:before
        content: ''
        display: inline-block
        background: url(../img/icons/play.svg)
        margin-right: 20px
        width: 42px
        height: 42px

.myka-wrapper
    position: absolute
    z-index: 2
    top: 40%
    left: 13%

.semchy-wrapper
    position: absolute
    z-index: 2
    left: 27%
    top: 35%

.egen-wrapper
    position: absolute
    z-index: 2
    left: 36%
    top: 37%

.cap-wrapper
    position: absolute
    z-index: 2
    left: 46%
    top: 27.5%

.dance-wrapper
    position: absolute
    z-index: 2
    left: 55%
    top: 31%

.muzo-wrapper
    position: absolute
    z-index: 2
    left: 65%
    top: 34%

.tube-wrapper
    position: absolute
    z-index: 2
    left: 80%
    top: 32%

.hero-name
    font-family: 'Handicraft'
    font-style: normal
    font-weight: normal
    font-size: 32px
    line-height: 32px
    text-transform: uppercase
    color: #322724
    background: transparent
    transition: all 0.5s
    &:hover
        color: #00642C


.all-heroes-info
    margin-top: 56px

.hero-tab
    text-transform: uppercase
    display: flex
    justify-content: space-between
    align-items: center
    background: #F9F9F9
    opacity: 0.8
    box-sizing: border-box
    border: 1px solid #DCDCDC
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    letter-spacing: 0.04em
    color: #322724
    text-align: left
    padding-left: 16px
    transition: 0.5s

.tab-heroes
    display: flex
    flex-direction: column

.hero-tab-wrapper button
    width: 100%

.tab-heroes button.active
    border: 1px solid #00642C
    background: #ffffff
    transition: 0.5s

.first-hero-tab
    border-radius: 4px 4px 0px 0px

.last-hero-tab
    border-radius: 0px 0px 4px 4px

.hero-icon-wrapper
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.hero-icon
    width: 32px
    height: 32px
    border-radius: 100px
    border: 1px solid #dcdcdc
    transition: 0.5s
    vertical-align: middle
    position: relative
    display: flex
    align-items: center

.active img
    border: 1px solid #00642C
    transition: 0.5s

.hero-tab-content
    text-align: center
    margin-bottom: 56px

.hero-title-wrapper
    margin-bottom: 55px

.hero-title
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 32px
    text-transform: uppercase
    color: #322724

.hero-img-wrapper
    margin-bottom: 56px

.hero-text-wrapper
    border-top: 1px solid #00642C
    border-bottom: 1px solid #00642C
    padding-top: 16px
    padding-bottom: 16px

.hero-description
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    color: #322724
    padding-right: 16px
    padding-left: 16px

.hero-description-star
    margin-top: 32px





       

