.baner-bg 
    background: url(../img/main/craft_paper.jpg)
    background-size: cover
    background-repeat: no-repeat
    height: 400px
    box-sizing: border-box
    border-radius: 4px

.main-page-baner
    margin-top: -40px

.baner-info-block 
    padding-left: 80px
    z-index: 10
    position: relative
    
.baner-title
    padding-top: 78px 
    font-style: normal
    font-weight: bold
    font-size: 22px
    line-height: 32px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #322724

.baner-description 
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    margin-top: 16px
    width: 330px

.baner-button-wrapper 
    margin-top: 48px

.baner-image-block
    margin-top: 32px
    overflow: hidden
    z-index: 0
    position: relative
    margin-left: -130px

.baner-img
    width: 100%

.cool-product-info
    margin-right: 20px
    display: flex
    flex-direction: column
    justify-content: center
        

.cool-products 
    margin-top: 32px

.cool-product-img img
    width: 210px
    height: 210px

.cool-product-card
    box-sizing: border-box
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.cool-product-card .basket-and-like-wrapper 
    justify-content: flex-start
    margin-top: 29px

.cool-product-title
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 24px
    letter-spacing: 0.04em
    color: #322724
    width: 208px
    min-height: 48px

.cool-product-descr
    margin-top: 8px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724
    width: 208px
    min-height: 40px

.cool-product-price
    margin-top: 12px
    font-style: normal
    font-weight: bold
    font-size: 32px
    color: #322724

.currency-sighn
    font-size: 14px

.basket-and-like-wrapper
    display: flex
    flex-direction: row
    margin-top: 24px
    align-items: center
    justify-content: flex-start

.products-slider
    margin-top: 56px

.slider-info-wrapper
    display: flex
    justify-content: space-between
    align-items: baseline
    margin-bottom: 27px

.slider-title
    font-style: normal
    font-weight: bold
    font-size: 20px

.show-all-slider
    display: flex
    margin-right: 25px

.show-all-slider-link
    position: relative
    font-style: normal
    font-weight: bold
    font-size: 14px
    &::after
        content: ''
        display: inline-block
        position: absolute
        background: url(../img/slider/arrow-right.svg)
        width: 8px
        height: 15px
        margin-left: 15px

.slides-wrapper
    margin-top: 42px

.product-card-info
    background: #F9F9F9
    border-radius: 4px
    width: 210px
    height: 220px
    margin-top: 8px

.product-title, .product-card-description
    color: #322724
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 22px
    padding-left: 16px
    padding-right: 16px
    padding-top: 8px
    padding-bottom: 8px
    letter-spacing: 0.04em

.product-card-description
    font-weight: normal
    font-size: 12px
    line-height: 20px
    min-height: 60px
    padding-top: 0px
    padding-bottom: 0px

.product-price
    margin-top: 10px
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 24px
    color: #322724

.product-currency, .woocommerce-Price-currencySymbol
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 14px
    color: #322724
    margin-left: -5px

.product-card-basket
    padding-left: 16px
    margin-top: 15px

.add-to-favourite-product-card
    display: flex
    justify-content: center
    align-items: center

.subscribe
    margin-top: 137px
    margin-bottom: 51px
    z-index: 10
    position: relative

.subscribe-bg
    background: url(../img/main/craft_paper.jpg)
    background-size: cover
    background-repeat: no-repeat
    box-sizing: border-box
    border-radius: 4px

.subscribe-wrapper
    padding-left: 80px
    padding-top: 56px

.subscribe-title
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 34px

.subscribe-subtitle
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px

.subscribe-form-input
    border: 1px solid #DCDCDC
    background-image: url(../img/icons/mail.svg)
    background-repeat: no-repeat
    background-position: 5% 50%
    box-sizing: border-box
    border-radius: 4px
    height: 56px
    width: 298px
    padding-left: 40px

.input-icon
    margin-right: -35px
    position: relative
    z-index: 1

.subscribe-form
    margin-top: 32px
    margin-left: 15px

.form-info 
    font-style: normal
    font-weight: normal
    font-size: 10px
    line-height: 16px
    margin-top: 16px
    margin-bottom: 41px
    margin-left: -15px

.subscribe-form-button
    height: 56px
    margin-left: 20px

.green-link
    color: #00642C

.hero-wrapper
    position: absolute
    margin-top: -110px
    width: 266px
    height: 385px
    &:before
        content: 'Капи'
        display: block
        position: absolute
        font-family: 'Handicraft'
        font-size: 32px
        line-height: 32px
        letter-spacing: 0.06em
        text-transform: uppercase
        color: #322724
        margin-top: 10px
    & img
        width: 266px
        height: 385px 

.main-page-slider .product-card .product-price 
    padding-left: 8px

.product-card .product-price
    padding-left: 15px

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before
    font-weight: 600

.tinvwl_add_to_wishlist_button.tinvwl-add-hide
    visibility: visible !important
    opacity: none !important




        






    