.help-form-text-wrapper
    text-align: center

.help-form-header
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 34px
    letter-spacing: 0.04em
    color: #322724

.help-form-text
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    color: #322724
    padding-top: 24px
    padding-bottom: 32px

.help-form-text-p 
    padding-bottom: 0

.help-form-text-faq
    padding-top: 0

.help-form-text-submit
    padding-top: 40px
    padding-bottom: 16px
    text-align: center
    padding-left: 16px
    padding-right: 16px

.help-form-textarea
    background: #F9F9F9
    border: 1px solid #DCDCDC
    box-sizing: border-box
    border-radius: 4px
    height: 100px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 22px
    color: #322724
    width: 100%
    margin-top: 16px
    padding-left: 16px
    padding-top: 17px

.modal-dialog 
  width: 100%
  height: 100%
  margin: 0 !important
  padding: 0

.modal-content 
  height: auto
  min-height: 100%
  border-radius: 0

.help-form-btn-wrapper
    text-align: center

.help-form-input
    width: 100%
    background-position: 3% 50%
    option
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 22px
        color: #322724

.help-form-select
    background-image: url(../img/icons/Question.svg)
    margin-top: 16px
    background-position: 1% 50%

.wpcf7-not-valid-tip
    width: 100%
    text-align: center
    color: #00642C !important
    margin-top: 10px

.modal-content
    border: none !important
    border-radius: 0 !important

.filter-buttons-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 32px
    flex-wrap: wrap 

.filter-buttons-wrapper .modal-button-reload, .filter-buttons-wrapper .outline-button
    width: 48%

.social-login-wrapper
    text-align: center

.form-login-header
    text-align: center
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 34px
    letter-spacing: 0.04em
    color: #322724

.lost-password-link
    font-size: 16px

.login-form-rows-wrapper
    text-align: center
    margin-top: 10px

.woocommerce-LostPassword 
    display: flex
    justify-content: center
    margin-top: 16px

.lost-password-link-wrapper
    width: 290px

.login-password-input
    background-image: url(../img/icons/password-icon.svg)

.login-form-rows-wrapper button
    width: 290px

.register-account-link-wrapper, .register-form-header
    margin-top: 16px

.privacy-register-form-wrapper
    font-size: 10px
    margin-top: 16px
    line-height: 16px

.close
    font-size: 40px !important
    font-weight: 300 !important
    color: #322724 !important

.close:hover
    color: #00642C !important

.tinvwl_button_view .ftinvwl-heart-o, .tinvwl_button_close .ftinvwl-times, .tinvwl_button_view .ftinvwl-key
    display: none 

.tinv-wishlist .tinv-modal .icon_big_times
    display: none !important

.tinv-wishlist .tinv-modal .icon_big_heart_check
    display: none !important







