.product-card-section
    margin-bottom: 120px

.product-card-description-wrapper
    padding-top: 25px

.product-card-description-and-share
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 16px

.description-title
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724

.share-icon
    position: absolute 
    right: 3.5%
    top: 15px
    z-index: 10 
    cursor: pointer
    
.share-wrapper 
    display: flex
    align-items:  center

.words-share
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
    letter-spacing: 0.04em
    color: #322724
    padding-right: 16px

.single-product-card-description
    padding-top: 16px
    padding-bottom: 16px
    border-top: 1px solid #dcdcdc
    border-bottom: 1px solid #dcdcdc
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.04em
    color: #322724

.product-card-buy-block-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 40px

.product-card-price
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 24px
    color: #322724

.single-product-card-button-wrapper
    display: flex
    align-items: center

.entry-summary .product-price 
    margin-top: 0

.entry-summary .woocommerce-Price-amount.amount
    font-size: 40px

.entry-summary .added_to_cart
    padding: 14px 24px
    text-transform: uppercase
