@media (max-width: 2570px)
    .mobile-menu-wrapper, .hide-on-pc
        display: none
    
@media (max-width: 1030px)
    .cool-product-info
        padding-left: 16px
        
@media (max-width: 990px)
    #main
        height: inherit 
    .mobile-menu-wrapper
        display: flex

    .header-nav-panel
        height: 80px
        margin-bottom: 32px

    .main-page-baner
        margin-top: 0px

    .baner-image-block
        margin-top: 10px

    .baner-img
        width: 550px

    .baner-info-block 
        padding-left: 40px

    .baner-title
        padding-top: 55px 

    .baner-description
        font-size: 14px
        width: 300px

    .baner-bg
        height: 350px

    .baner-image-block
        margin-left: -220px

    .top-bar, .header-menu-wrapper
        display: none

    .menu-links-wrapper
        flex-direction: column

    .menu-link-wrapper
        margin-bottom: 32px

    .menu-link 
        font-size: 16px

    .info-block
        flex-direction: column
        padding-left: 15px
        padding-top: 32px

    .mobile-menu-user-info
        margin-bottom: 24px

    .top-bar-user-info, .top-bar-customer-support
        font-size: 12px

    .mobile-menu-iner-wrapper
        margin-top: 48px
        display: flex
        flex-direction: row
        align-items: center
        padding-bottom: 32px
        border-bottom: 1px solid #dcdcdc

    .callback-btn
        padding: 12px 12px 12px 12px

    .social-icon-wrapper
        width: 36px
        height: 36px
        background: #ffffff

    .social-icon-link img 
        width: 21px
        height: 21px

    .contacts-block
        flex-direction: column

    .top-bar-phone, .top-bar-mail, .adress
        margin-right: 0
        margin-left: 0
        font-size: 14px

    .phone
        padding-left: 15px
        padding-bottom: 32px
        padding-top: 32px

    .adress
        padding-left: 15px

    .email
        padding-left: 15px
        padding-bottom: 32px
        &::before, &::after
            display: none

    .cool-product-info
        margin-right: 0

    .cool-product-card
        margin-top: 32px
        margin-bottom: 32px

    .cool-product-img img
        width: 240px
        height: 240px

    .cool-product-info
        width: 65%

    .cool-product-title, .cool-product-descr
        width: auto

    .cool-product-title
        font-size: 16px

    .cool-product-descr
        font-size: 14px

    .hide-hero
        display: none
    
    .subscribe
        margin-top: 93px

    .subscribe-wrapper
        padding-left: 0
        text-align: center

    .all-heroes-wrapper
        margin-top: 56px

    .tab
        flex-direction: row

    .tablinks
        width: 100%

    .tab button
        text-align: center
        padding-left: 5px
        padding-right: 5px

    .gameplay-button-wrapper
        margin-top: 24px

    .gameplay-img-wrapper-left img, .gameplay-img-wrapper-right img 
        width: 259px
        height: 245px

    .about-all-heroes-wrapper
        margin-left: 0
        text-align: center

    .about-info-block
        text-align: center
        padding-right: 32px
        background: #ffffff
        z-index: 10
        margin-top: -70px

    .about-block-title, .about-description
        padding-right: 0

    .about-logo
        width: 141px
        height: 98px

    .about-all-heroes-wrapper
        margin-top: 19px

    .about-questions-wrapper
        margin-top: -90px

    .tab-faq
        margin-bottom: 56px

    .tab-faq .tablinks
        display: flex
        align-items: center
        justify-content: center

    .hero-name
        font-size: 23px

    .play-btn-link
        font-size: 12px

    .play-btn-wrapper
        &:before
            background: url(../img/icons/play-small.svg)
            width: 33px
            height: 32px
            margin-right: 10px

    .hero-tab-wrapper button
        width: 240px

    .tab-heroes
        flex-direction: row
        flex-wrap: wrap
        margin-bottom: 56px

    .first-hero-tab
        border-radius: 4px 0px 0px 0px

    .last-hero-tab
        border-radius: 0px 0px 0px 4px

    .third-hero-tab
        border-radius: 0px 4px 0px 0px

    .tabcontent-account
        margin-top: 32px

    .account-button-wrapper
        text-align: center

    .account-form-input
        width: 100%
        background-position: 2% center

    .basket-input-wrapper input
        width: 100%

    .product-card-image-wrapper
        text-align: center

    .woocommerce-checkout
        padding-left: 16px
        padding-right: 16px

    .woocommerce-MyAccount-navigation ul 
        flex-direction: row

    .woocommerce-EditAccountForm
        margin-top: 56px

    .woocommerce-MyAccount-content, .wishlist_item, .woocommerce-message
        margin-top: 30px

    .date-filter-modal-toggle
        display: flex

    .date-filter-title, .categories__title
        display: none

    .side-nav-mobile
        border-bottom: none

    .side-nav-mobile .filter-on-themes-wrapper,  .side-nav-mobile .st-accordion 
        display: none

    .category-description-title
        &:after
            content: ''
            display: inline-block
            background: url(../img/icons/description-icon.svg)
            width: 16px
            height: 16px
            float: right

    #filter-container
        margin-top: 56px

    .steps-wrapper, .steps-block
        min-height: 56px

    .steps-block-number-wrapper
        width: 32px
        height: 32px
        font-size: 14px
        line-height: 14px

    .step-header
        font-size: 10px
        line-height: 10px

    .woocommerce [type=submit], .order-button-wrapper .solid-button 
        font-size: 12px

    .woocommerce-MyAccount-navigation-link
        text-align: center
        padding-left: 0

    .woocommerce-MyAccount-navigation-link--downloads, .tab button:first-child
        border-radius: 4px 0px 0px 4px

    .woocommerce-MyAccount-navigation-link--edit-account, .tab button:last-child
        border-radius: 0px 4px 4px 0px

@media (max-width: 767px)
    .help-form-input
        margin-bottom: 16px

    .help-form-select
        margin-top: 0

    .date-filter-modal-toggle
        margin-top: 53px

    .number-block
        align-items: center
        text-align: center

    .steps-wrapper
        flex-wrap: wrap

    .steps-block
        width: 100%
        justify-content: space-between
        border-right: none
        border-radius: 0
        border-bottom: 1px solid #dcdcdc

    #primary .page-title
        margin-bottom: 0

    .product-card-section
        margin-top: 56px

    .steps-block-pay
        border-bottom: none

    .steps-block-wrapper 
        margin-left: 16px

    .steps-arrow-icon
        margin-right: 20px
        transform: rotate(90deg)

    .third-hero-tab
        border-radius: 0

    .cool-product-info
        width: 50%

    .shop-product-card .product-img img 
        width: 100%

    .shop-product-card .product-card-info
        width: 100%

@media (min-width: 576px)
    .modal-dialog 
        margin: 0 !important

@media (max-width: 430px)
    .contacts-block
        padding-bottom: 50px

    .baner-bg
        height: 320px
        border-radius: 0px

    .baner-image-block
        margin-left: -180px

    .paddings, .step-3
        padding-left: 0 !important
        padding-right: 0 !important

    .baner-title
        font-size: 16px
        padding-top: 15px
        line-height: 26px 

    .baner-button-wrapper 
        margin-top: 40px

    .baner-info-block 
        padding-left: 15px

    .baner-title
        width: 200px

    .baner-description
        font-size: 12px
        width: 220px        

    .baner-image-block
        margin-top: -20px

    .baner-button-wrapper 
        margin-bottom: 48px

    .menu-words
        display: none

    .mobile-menu-wrapper
        width: 32px
        height: 32px

    .burger-line
        width: 16px
        &::after
            width: 16px
        &::before
            width: 11px

    .basket, .favourite, .iq-gradus-login, .iq-gradus-user-login-icon
        width: 32px
        height: 32px

    .iq-gradus-user-log-in
        width: 81px

    #header-welcome
        font-size: 6px
        padding-left: 20px

    .basket img, .favourite img, .iq-gradus-login img
        width: 16px
        height: 14px

    .basket, .favourite
        margin-right: 12px

    .mobile-menu-wrapper
        margin-right: 16px

    .header-logo
        margin-left: 10px

    .main-page-baner
        margin-top: -32px

    .slider-info-wrapper
        justify-content: center

    .show-all-slider
        margin-top: 17px

    .slider-title
        font-size: 18px

    .cool-product-card
        justify-content: center

    .cool-product-card .added_to_cart
        width: 100%
        text-align: center

    .cool-product-card .basket-and-like-wrapper 
        width: 100%

    .cool-product-card .add_to_cart_button 
        width: 80%
        text-align: center

    .cool-product-img img
        width: 288px
        height: 288px

    .cool-product-info
        width: 72%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding-left: 0

    .cool-product-title
        text-align: left
        font-size: 14px
        margin-top: 32px
        min-height: inherit 

    .cool-product-price
        margin-top: 0

    .basket-and-like-wrapper
        margin-top: 15px

    .hide-on-pc
        display: block

    .hide-on-mobile
        display: none

    .slide-wrapper
        margin-left: -20px

    .slick-arrow
        top: 50%

    .subscribe
        margin-top: 59px

    .subscribe-form-button
        margin-left: 0
        margin-top: 15px
        width: 100%

    .subscribe-form-input
        width: 100%

    .subscribe-form, .form-info 
        margin-left: 0

    .subscribe-title
        font-size: 18px

    .subscribe-subtitle
        font-size: 12px

    .subscribe-bg
        border-radius: 0 

    .page-title-bg
        padding-top: 16px
        padding-bottom: 16px
        height: 100px

    .page-title-header
        font-size: 18px
        padding-left: 16px
        padding-right: 16px

    .info-block-text
        padding-right: 0

    .tab
        flex-direction: column

    .tabs-info-block
        flex-wrap: wrap
        justify-content: center

    .info-block-text
        text-align: center
        margin-top: 26px

    .icon-wrapper
        margin-left: 0
        margin-right: 0
        
    .gameplay-block
        flex-wrap: wrap
        justify-content: center

    .gameplay-img-wrapper-left img, .gameplay-img-wrapper-right img 
        width: 214.6px
        height: 200px

    .gameplay-img-wrapper-right
        margin-right: 0
        margin-bottom: 24px

    .gameplay-img-wrapper-left
        margin-left: 0
        order: 1
        margin-bottom: 24px

    .gameplay-text-left
        order: 2

    .gameplay-button-wrapper 
        margin-top: 32px
        text-align: center

    .game-rules-header
        font-size: 24px

    .game-rules-header-wrapper
        align-items: baseline
        background-size: 317px
        background-position: center

    .next-tour
        background-size: 269px
        background-position: center

    .final-tour
        background-size: 243px
        background-position: center

    .game-rules-header-wrapper
        justify-content: center

    .game-rules-text-block
        flex-wrap: wrap

    .game-rules-text-block-one, .game-rules-text-block-two
        width: inherit

    .game-rules-text-block-two
        margin-top: 16px

    .game-rules-block-wrapper
        margin-bottom: 44px

    .about-all-heroes-img
        width: 100%

    .about-info-block
        padding-left: 0
        padding-right: 0

    .about-block-title
        padding-left: 5px
        padding-right: 5px

    .about-description
        padding-right: 5px
        padding-left: 5px

    .about-logo
        width: 89px
        height: 62px

    .about-all-heroes-wrapper
        margin-top: 10px

    .about-info-block
        margin-top: -50px

    .faq-btn-text-wrapper
        display: inline-block
        position: relative
        width: 218px

    .faq-btn
        padding-left: 8px

    .block-title-404
        font-size: 100px

    .page-404-hero img 
        width: 160px
        height: 227px

    .text-block-wrapper-404
        text-align: center
        align-items: center

    .hero-name
        font-size: 10px

    .all-heroes
        display: flex
        justify-content: center
        
    .play-btn-wrapper
        padding-top: 0
        padding-left: 0
        top: 100%
        margin-top: 32px

    .semchy-wrapper
        top: 28%

    .egen-wrapper
        top: 30%

    .myka-wrapper
        top: 36%

    .cap-wrapper
        top: 22%

    .dance-wrapper
        top: 23%

    .muzo-wrapper
        top: 26%

    .tube-wrapper
        left: 81%

    .all-heroes-info
        padding-top: 42px

    .hero-tab-wrapper button
        width: 100%

    .tab-heroes
        flex-direction: column

    .hero-title
        font-size: 26px

    .product-card-account
        text-align: center

    .product-card-account-wrapper
        width: inherit
        text-align: left

    .product-card-account .product-img img 
        width: 100%
        height: 100%
        text-align: center

    .product-card-account .product-card-info
        width: inherit
        text-align: left

    .product-card-button-wrapper button
        width: 100%

    .product-card-basket-account .add-to-cart
        width: 70%

    .account-button-wrapper button
        width: 100%

    .product-basket-wrapper
        flex-wrap: wrap

    .product-basket-info
        padding-bottom: 16px
        width: 243px
        border-right: 1px solid #dcdcdc

    .product-basket-image 
        width: 100%
        & img 
            width: 100%
            height: 100%

    .cross-wrapper
        left: 95%
        padding-top: 0
        top: 69%
        transform: translate(0%, 50%)

    .product-basket-title, .product-basket-description
        padding-right: 5px

    .words-share
        display: none

    .product-card-image-wrapper img 
        width: 100%

    .product-card-buy-block-wrapper
        order: 1
        flex-direction: column
        align-items: flex-start
        margin-bottom: 68px

    .single-product-card-button-wrapper
        margin-top: 32px

    .product-card-description-and-share
        order: 2

    .single-product-card-description
        order: 3
        display: flex

    .product-card-description-wrapper
        display: flex
        flex-direction: column

    .product-card-description
        width: 258px

    .product-card-section
        margin-bottom: 56px

    .pagination-next-wrapper, .pagination-prev-wrapper
        display: none

    .robokassa-logo-wrapper
        flex-direction: column
        flex-wrap: wrap

    .robokassa-logo
        padding-top: 25px

    .place-order
        max-height: inherit

    .woocommerce-billing-fields__field-wrapper
        flex-direction: column
        flex-wrap: wrap

    .woocommerce [type=submit]
        width: 100%

    #place_order
        width: auto

    .form-row-email
        margin-bottom: 16px

    .woocommerce-checkout-review-order-table .cart_item, .woocommerce-checkout-review-order-table .cart-subtotal, 
    .woocommerce-checkout-review-order-table .cart-discount, .woocommerce-checkout-review-order-table .order-total
        width: inherit

    .form-row-email input, .form-row-name input 
        width: 290px

    .woocommerce-checkout .form-row-email, .woocommerce-checkout .form-row-name
        width: 100%

    .woocommerce-checkout
        padding-left: 0
        padding-right: 0

    .woocommerce-billing-fields h3, #order_review_heading 
        text-align: center

    .woocommerce-MyAccount-navigation ul 
        flex-direction: column

    .woocommerce-MyAccount-navigation-link--downloads, .tab button:first-child, .first-hero-tab
        border-radius: 4px 4px 0px 0px

    .woocommerce-MyAccount-navigation-link--edit-account, .tab button:last-child, .last-hero-tab
        border-radius: 0px 0px 4px 4px

    .help-form-select
        background-position: 2% 50%

    .modal-body .account-form-input
        background-position: 3% 50%

    .help-form-text-submit, .form-paddings
        padding-right: 0 !important
        padding-left: 0 !important

    .woocommerce-pagination .next, .pagination-custom .next, .pagination-custom .prev
        font-size: 0

    .shop-product-card img, .shop-product-card .product-card-info 
        width: 100%

    .shop-product-card .button
        width: 75%
        text-align: center

    .shop-product-card .basket-and-like-wrapper
        justify-content: space-between

    .shop-product-card .basket-and-like-wrapper .tinv-wraper
        margin-right: 16px

    .filter-buttons-wrapper .modal-button-reload, .filter-buttons-wrapper .outline-button 
        width: 100%

    .filter-buttons-wrapper .modal-button-reload
        margin-bottom: 24px

    .login-form-rows-wrapper button
        width: 100%

    .wishlist_item .product-card-basket
        padding-left: 0

    .wishlist_item .product-remove
        padding-left: 16px

    .tinv-wishlist .product-action
        width: 100%
        margin-left: 16px
        margin-right: 16px

    .account-fav-like, .tinv-wishlist .product-remove button
        margin-left: 0

    .tinv-wishlist .tinvwl-table-manage-list .product-remove
        margin-right: 16px

@media (max-width: 380px)
    .cool-product-info
        width: 82%

    .cross-wrapper
        transform: translate(0%, 30%)

    .baner-description
        width: auto

@media (max-width: 320px)
    .cool-product-info
        width: 96%

    .cross-wrapper
        left: 93%
        transform: translate(0%, 0%)




    


        


        
