.ya-share2__icon_more:before
    background: url(../img/icons/share.svg) !important
    width: 40px !important
    height: 40px !important
    content: '' !important
    
.ya-share2__container_size_m .ya-share2__icon
    width: 40px !important
    height: 40px !important
    background-size: 40px 40px !important

.ya-share2__container_size_m .ya-share2__popup_direction_bottom
    top: auto !important

.ya-share2__icon_more
    border: none !important
    