.slick-list
    overflow: hidden
    overflow-x: hidden

.slick-track
    display: flex

.main-page-slider
    position: relative

.slick-arrow
    position: absolute
    top: 94%
    z-index: 100
    font-size: 0
    width: 36px
    height: 36px
    background: #F9F9F9
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    border-radius: 100px
    outline: none
    border: none 
    
.slick-prev
    left: 0
    background-image: url(../img/slider/arrow-left.svg)
    background-repeat: no-repeat
    background-position: center center
.slick-next
    right: 0
    background-image: url(../img/slider/arrow-right.svg)
    background-position: center center
    background-repeat: no-repeat

.slick-dots .slick-active button
    width: 30px
    height: 16px
    background-image: url(../img/slider/active-dot.svg)
    background-position: center center
    background-repeat: no-repeat
    background-color: #fff

.slick-dots
    display: flex
    justify-content: center
    align-items: center
    margin-top: 34px
    li 
        margin: 0 16px

.slick-dots li button
    font-size: 0
    width: 30px
    height: 16px
    background-image: url(../img/slider/dot.svg)
    background-position: center center
    background-repeat: no-repeat
    background-color: #fff

.slide-wrapper 
    margin-right: 40px



