.cart-steps-section
    margin-top: 56px
    margin-bottom: 56px

.steps-wrapper
    display: flex
    width: auto
    border: 1px solid #DCDCDC
    border-radius: 4px
    min-height: 80px

.steps-block-wrapper
    display: flex
    align-items: center

.steps-block
    display: flex
    align-items: center
    justify-content: space-around
    width: 310px
    border-right: 1px solid #DCDCDC
    border-radius: 100px
    min-height: 80px

.steps-block-pay
    border-right: none

.steps-block-number-wrapper
    width: 48px
    height: 48px
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 20px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100px
    text-align: center
    letter-spacing: 0.04em
    color: #BDBDBD
    border: 1px solid #BDBDBD

.steps-block-number-active
    border: 1px solid #00642C
    color: #00642C

.step-header
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.04em
    color: #322724
    margin-left: 16px
